<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Cart Page</title>
    <!-- fontawesome script button logos -->
    <script src="https://kit.fontawesome.com/e672d1ec50.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--  navigation bar content-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Navbar content -->
      <a class="navbar-brand" style="margin-left:20px;" href="{% url 'homepage' %}">E-Commerce Site</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-uppercase" href="{% url 'homepage' %}">{{user}} <span class="sr-only ">hello</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-uppercase" href="{% url 'orders' %}">My Orders</a>
          </li>
  <!--        search bar-->

          <form class="form-inline my-2 my-lg-0" style="margin-left:150px;" action="{% url 'search' %}" method="get">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit">
          </form>

  <!--        dropdown for categories-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            {% if total_kart_items != 1 and total_kart_items != 0 %}
            <a class="nav-link text-warning" href="{% url 'cart' %}">{{total_kart_items}} Items in Cart</a>
            {% else %}
            <a class="nav-link text-warning" href="{% url 'cart' %}">{{total_kart_items}} Item in Cart</a>
            {% endif %}
          </li>
          {% if user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link btn btn-danger btn-sm" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link btn btn-danger btn-sm" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>

      </div>
    </nav>
    <br>
    <h1 class="text-center">My Cart ({{total_kart_items}})</h1>
    <br>

      {% if messages %}
      <div class="container-sm text-center p-3 mb-2 bg-danger text-white">
            {% for message in messages %}
            <h5 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h5>
            {% endfor %}
      </div>
      {% endif %}

    <br>
    <div class="container">
      <div class="row">
        <div class=" col">
          {% for kart in kart_list %}
          <a href="{{kart.product_page_url}}" style="text-decoration: none;" class="text-dark">
            <img src="{{kart.image}}" style="width:200px;">
            <strong>
            <small><sup class="p-1 bg-success text-white text-center rounded">{{kart.label}}</sup></small>
            {{kart.name}}
            </strong>
          </a>
          <del><h5>Original Price: <span>&#8377;</span>{{kart.total_original_price}}</h5></del>
          <h5>Total Price After Discount: <span class="text-success" >&#8377;{{kart.total_price}}</span></h5>
          <form action="{% url 'increase-cart' kart.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-primary"><i class="fas fa-plus"></i></button>
          </form>
          <p><em>Quantity Selected: </em>{{ kart.quantity }}</p>
          <form action="{% url 'decrease-cart' kart.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-primary"><i class="fas fa-minus"></i></button>
          </form>
          <form action="{% url 'remove-from-cart' kart.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-sm btn-outline-danger" value="REMOVE FROM CART">
          </form>
          <hr>
          {% endfor %}
        </div>

        <div class=" p-3 mb-2 bg-light text-dark col">
          <h4>PRICE DETAILS</h4>
          <hr>
          <p>Total Original Price (
            {% if total_kart_items != 1 and total_kart_items != 0%}
              {{total_kart_items}} items
              {% else %}
              {{total_kart_items}} item
            {% endif %}
            ) : {{total_original_kart_price}}</p>
          <p>Discount : <span class="text-success"> -{{discount}}</span></p>
          <hr>
          <b>Final Price: {{total_kart_price}}</b>
          <p class="text-success"> You will save <span>&#8377;</span>{{discount}} on this order</p>
          <p class="text-center">
          <a href="{% url 'checkout' %}" class="btn btn-sm btn-outline-warning " style="width:250px;">Proceed to Buy</a>
          </p>
        </div>
      </div>
    </div>




    <hr>
    <!-- Footer code -->
    <footer class="white-section" id="footer">
      <div class="container-fluid text-center">

        <i class="footer-icon fab fa-twitter"></i>
        <i class="footer-icon fab fa-facebook-f"></i>
        <i class="footer-icon fab fa-instagram"></i>
        <i class="footer-icon fas fa-envelope"></i>

        <p class="footer-text">© Copyright 2021 E-commerce site by Sourabh Devlal</p>
      </div>
    </footer>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>